html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.shorten-button {
  background-color: #17BEBB;
  border-color: #17BEBB;
  margin-bottom: 10px;
}

.shorten-button:hover {
  background-color: #118987;
  border-color: #118987;
}

table {
  margin-top: 30px;
}

.decode-button {
  background-color: #CD5334;
  border-color: #CD5334;
}

.decode-button:hover {
  background-color: #9f4028;
  border-color: #9f4028;
}
